@import 'modules';
@import 'ionicons/ionicons';
@import 'fonts';

@import 'bootstrap';
@import 'animate';
@import 'theme';
@import 'responsiveness';


.size-5 {
  font-size: 5px;
}
.size-10 {
  font-size: 10px;
}
.size-20 {
  font-size: 20px;
}
.size-30 {
  font-size: 30px;
}
.size-40 {
  font-size: 40px;
}
.size-50 {
  font-size: 50px;
}
.size-60 {
  font-size: 60px;
}
.size-70 {
  font-size: 70px;
}
.size-80 {
  font-size: 80px;
}
.size-90 {
  font-size: 90px;
}
.size-100 {
  font-size: 100px;
}

.size-96 {
  font-size: 96px;
}
